
 <div class="row">
 	<div class="col-lg-12" >
 		商品名称：<label id="classGoodsName"></label>
 	</div>
 	<h5 class="page-header"></h5>
     <div class="col-lg-12">     	
         <form role="form" id="manage_form" class="form-horizontal">
         	<div class="form-group">
                 <label for="name" class="col-sm-3 control-label">分类名称<font color="red">*</font></label>
                 <div class="col-sm-9"><input class="form-control" placeholder="分类名称" name="name" id="goodsName" autofocus required="required"></div>                                                                                    
             </div>
             <!-- <div class="form-group">
                 <label for="num" class="col-sm-3 control-label">排序<font color="red">*</font></label>
                 <div class="col-sm-9"><input type="number" class="form-control" placeholder="分类名称" name="num" id="num" required="required"></div>                                                                                    
             </div> -->
             <div class="form-group">
            	<label class="col-sm-3 control-label">子分类<font color="red">*</font></label>
                <div  class="col-sm-9">
	                 <input type="text" class="form-control" placeholder="子分类名称" name="detail">                                          
	                <input class="btn btn-primary" type="button"   placeholder="添加标签" id="add_detail_btn" value="添加标签">
                </div>                                                                                     
            </div>
               
        </form>
    </div>
</div>
<!-- /.row (nested) -->    

<script src="classAdd.js"></script>



