




                 <div class="row">
                     <div class="col-lg-12">
                         <form role="form" id="add_form" class="form-horizontal">
                         	<input type="hidden" name="id" id="goodsId">
                         	<input type="hidden"  id="modelId">
                             <div class="form-group">
                                 <label for="name" class="col-sm-3 control-label">商品名<font color="red">*</font></label>
                                 <div class="col-sm-9"><input class="form-control" placeholder="商品名" name="name" id="goodsName" autofocus required="required"></div>                                                                                    
                             </div>
                             <div class="form-group">
                             	<label class="col-sm-3 control-label">商品描述<font color="red">*</font></label>
                                 <div class="col-sm-9"><input class="form-control" placeholder="商品描述" name="description" id="goodsDescription" required="required"></div>                                                                                     
                             </div>
                             <div class="form-group">
                             	<label class="col-sm-3 control-label">商品图片<font color="red">*</font></label>
                                 <div class="col-sm-9">
                                 	<img src="/onlinemall/static/img/add.png" class="img-responsive img-rounded" id="descriptionImg1Url" alt="点击上传图片">
                               		<input value=""  name="descriptionImg1Url" id="descriptionImg1Url_input" type="hidden" />
                               		<button type="button" class="btn btn-primary" id="update_descriptionImg1Url">更换</button>
 								</div>                                                                                     
                             </div>
                             <div class="form-group">
                             	<label class="col-sm-3 control-label">商品标签<font color="red">*</font></label>
                                 <div  class="col-sm-9">
                                 <!-- <input class="form-control" placeholder="商品标签" name="label" required="required">   -->                                         
                                 <input class="btn btn-primary" type="button"   placeholder="添加标签" id="add_label_btn" value="添加标签">
                                 </div>                                                                                     
                             </div>
                             
                             <div class="form-group">
                             	<label class="col-sm-3 control-label">上架时间</label>  
                             	<div class="col-sm-9">
                             		<div class="input-group date form_datetime"  data-date-format="yyyy-mm-dd hh:ii:ss" id="shelveTime_datetime" data-link-field="shelveTime">
						                 <input class="form-control" size="16" type="text" value="" >
						                 <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
										<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
						            </div>
									<input type="hidden" id="shelveTime" name="shelveTime" value="" /> 
                             	</div>                                                                                                                            
                             </div>
                             
                             <div class="form-group">
                             	<label class="col-sm-3 control-label">下架时间</label>  
                             	<div class="col-sm-9">
                             		<div class="input-group date form_datetime"  data-date-format="yyyy-mm-dd hh:ii:ss" id="unshelveTime_datetime" data-link-field="unshelveTime">
						                 <input class="form-control" size="16" type="text" value=""  >
						                 <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
										<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
							         </div>
									<input type="hidden" id="unshelveTime" name="unshelveTime" value="" /> 
                             	</div>                                                                                                                            
                             </div>
                             
                         
                             <div class="form-group">
                             	<label class="col-sm-3 control-label">厂家</label>
                                 <div class="col-sm-9"><input class="form-control" placeholder="厂家" name="producer" id="goodsProducer" ></div>                                                                                     
                             </div>
                             <div class="form-group">
                             	<label class="col-sm-3 control-label">规格</label>
                                 <div class="col-sm-9"><input class="form-control" placeholder="规格" name="specification" id="goodsSpecification" ></div>                                                                                     
                             </div>                                        
                             <div class="form-group">
                             	<label class="col-sm-3 control-label">商品详情图片<font color="red">*</font></label>
                                 <div class="col-sm-9">         
		
										<img    src="/onlinemall/static/img/add.png" class="img-responsive img-rounded" id="add_detailImgUrl"  alt="点击上传图片">
								</div>		                                                                                                                                
                              </div> 
                              
                          </form>
                      </div>
                  </div>
                  <!-- /.row (nested) -->
             





<script src="update.js"></script>



