<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>登录</title>

<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
<meta http-equiv="description" content="登陆">
<!-- <meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
 <link rel="stylesheet" href="static/bootstrap/css/bootstrap-theme.min.css"> 


<link rel="stylesheet" type="text/css"
	href="static/css/login/register.css" />
</head>

<body>
	<div class="m_1">
		<img alt="" src="https://4.url.cn/zc/v3/img/01-1.jpg">
	</div>
	<div class="m_2">
		<h1>欢迎登录</h1>
		<br /> <br />
		<form action="login" method="post" id="login_form"
			class="m_login_form">						
		
            <div class="form-group">
                
                <input type="text" class="form-control input-lg" name="login_id" id="login_id" placeholder="账号或手机号" />
            </div>
            <div class="form-group">
                
                <input type="password" class="form-control input-lg" placeholder="密 码" name="password" id="password"/>
            </div>   
            
                
                <input type="text"  name="client_type" id="client_type" value="3" hidden="true"/>
                    
             
	
			<div class="form-group">
				<button type="button" class="btn btn-primary btn-lg btn-block" id="login_form_b">登录</button>
			</div>

		</form>
		<div class="m_3">
			<a href="register">没有有账号，立即注册</a>
		</div>
	</div>

</body>
<!-- <link rel="stylesheet" type="text/css" href="static/css/normalize.css"> -->
<link href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">


<script type="text/javascript" src="static/js/jquery-3.2.1.js"></script>

<!-- <script type="text/javascript" src="static/js/jquery.form.js"></script> -->
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="static/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>

<script type="text/javascript" src="static/js/login/login.js"></script>
</html>