<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>用户管理</title>


<!-- Bootstrap Core CSS -->
<link href="/onlinemall/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="/onlinemall/static/vendor/metisMenu/metisMenu.min.css"
	rel="stylesheet">
<link
	href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css"
	rel="stylesheet">

<!-- Custom CSS -->
<link href="/onlinemall/static/dist/css/sb-admin-2.css" rel="stylesheet">

<!-- Custom Fonts -->
<link
	href="/onlinemall/static/vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">

<!-- Morris Charts CSS -->
<link href="/onlinemall/static/vendor/morrisjs/morris.css"
	rel="stylesheet">

</head>

<body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<div th:include="header::navbarHeader('管理员管理')"></div>

			<!-- 目录菜单 -->
			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse" id="m_side-memu_div">
					<ul class="nav" id="side-menu">
						<li><a href="index"><i class="fa fa-dashboard fa-fw"></i>主页</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- 目录菜单  end-->

			<!-- /.navbar-static-side -->
		</nav>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="page-header">用户管理</h2>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->

			<!-- 信息提示 -->
			<div class="row">
				<div class="col-lg-12" id="msg_alert_div"></div>
			</div>
			<!-- 信息提示 end -->
			<!-- 查询提交表单 -->
			<div class="row">
				<div class="col-lg-12">
					<form class="form-inline" id="query_form">
						<div class="form-group">
							<label for="name">用户昵称</label> <input type="text"
								class="form-control" id="name" name="name" placeholder="用户昵称">
						</div>
						<div class="form-group">
							<label for="phone">手机号</label> <input type="text"
								class="form-control" id="phone" name="phone"
								placeholder="手机号">
						</div>
						<div class="form-group">
							<label for="email">邮箱</label> <input type="text"
								class="form-control" id="email" name="email" placeholder="邮箱">
						</div>
						<div class="form-group">
							<label for="realName">真实姓名</label> <input type="text"
								class="form-control" id="realName" name="realName" placeholder="真实姓名">
						</div>
						<div class="form-group">
							<label for="idNumber">身份证号</label> <input type="text"
								class="form-control" id="idNumber" name="idNumber" placeholder="身份证号">
						</div>	
						<div class="form-group">
							<label for="sex">性别</label> 
							<select class="form-control" id="sex" name="sex">
                                                <option></option>                                              
                             </select>							
						</div>
						<div class="form-group">
							<label for="userType">用户类型</label> 
							<select class="form-control" id="userType" name="userType">
                                                <option></option>                                              
                             </select>							
						</div>
						<div class="form-group">
							<label for="loginId">登录账号</label> <input type="text"
								class="form-control" id="loginId" name="loginId" placeholder="登录账号">
						</div>	
						<div class="form-group">
							<label for="frozen">冻结</label> 
							<select class="form-control" id="frozen" name="frozen">
                                                <option></option>  
                                                <option value="false">否</option> 
                                                <option value="true">是</option>                                             
                             </select>							
						</div>	
						<br />
						
						<div class="form-group">
							<label>解封时间</label> 
							<input type="date"	class="form-control" id="unfreezingTimeStart" name="unfreezingTimeStart">~
							<input type="date"	class="form-control" id="unfreezingTimeEnd" name="unfreezingTimeEnd">
						</div>
											
						
						<input type="text" hidden="true" id="pageSize" name="pageSize" value="10">
						<input type="button" class="btn btn-primary" id="search_btn" value="查询" />
					</form>
					<input type="text" hidden="true" id="pageNum" name="pageNum" value="1">
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- 查询提交表单  end-->
			<hr />
			<!-- 查询提交表单 结果  -->
			<div class="row">
				<!-- /.col-lg-12 -->
				<div class="col-lg-12">
					<div class="panel panel-primary">
						<div class="panel-heading">查看用户</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12">
									<div class="table-responsive">
										<table class="table table-striped table-bordered table-hover">
											<thead>
												<tr>													
													<th>用户昵称</th>
													<th>手机号</th>
													<th>邮箱</th>
													<th>真实姓名</th>
													<th>身份证号</th>
													<!-- <th>头像</th> -->
													<!-- <th>总积分</th> -->
													<th>资金</th>
													<th>性别</th>
													<th>用户类型</th>
													<th>登录账号</th>
													<th>冻结</th>
													<th>解封时间</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody id="query_tbody">
												<!-- ajxa获取数据      -->
												
											</tbody>
										</table>

									</div>
									<!-- /.table-responsive -->
								</div>
							</div>
							<!-- /.row (nested) -->

							<!-- 分析信息和分页按钮 -->
							<div class="row">
								<div class="col-sm-12">
									<span class="pull-right"> 每页10条</span>
								</div>
								<div class="col-sm-12">
									<nav aria-label="查询结果分页" class="">
										<ul class="pagination" id="m_nav_ul">

										</ul>

									</nav>
									<div></div>
								</div>



							</div>
							<!-- 分析信息和分页按钮 end -->


						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-12 -->

			</div>
			<!-- /.row -->
			<!-- 查询提交表单 结果  end-->
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- 弹出框 -->
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">冻结</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">

							<!-- 信息提示 -->
							<div class="row">
								<div class="col-lg-12" id="msg_alert_myModal"></div>
							</div>
							<!-- 信息提示 end -->


							<form role="form" id="modal_body_form" class="form-horizontal">
								<div class="form-group">
									<label for="unfreezingTimeU" class="col-sm-3 control-label">解封时间<font
										color="red">*</font></label>
									<div class="col-sm-9">										
										<input type="date"	class="form-control" id="unfreezingTimeU" name="unfreezingTimeU">
									</div>						
								</div>								
								
								<div class="form-group">
									<label class="col-sm-3 control-label">冻结理由 <font
										color="red">*</font></label>
									<div class="col-sm-9">
										<textarea class="form-control" rows="2" name="frozenReasonU"
											id="frozenReasonU" required="required"></textarea>
									</div>
								</div>	
								<input type="text" hidden="true" id="idU" name="idU" value="">
							</form>

						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary"
						id="model_update_btn">冻结</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<!-- 弹出框 -->
	
	<!-- 删除确认 modal -->
	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="unfrozen_model">
	  <div class="modal-dialog modal-sm" role="document">
	    <div class="modal-content">
	      	<div class="modal-body">
	      		确认解封该用户吗
	      	</div>
	      	<div class="modal-footer">
	      				<input type="text" hidden="true" id="idUn" name="idUn" value="">
						<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-warning" id="unfrozen_model_btn">确认</button>
			</div>
	    </div>
	  </div>
	</div>
	<!-- 删除确认 modal end -->
	

	<!-- jQuery -->
	<script src="/onlinemall/static/vendor/jquery/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/onlinemall/static/vendor/bootstrap/js/bootstrap.min.js"></script>

	<script
		src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>

	<script src="/onlinemall/static/js/common.js"></script>

	<script src="/onlinemall/static/js/a/admin.js"></script>
	<script src="manage.js"></script>

</body>

</html>