.m_form_datetime_margin_left {
	margin-left: 15px;
}

.m_label_r{
	text-align: right;
	margin-top: 3px;
	margin-bottom: 2px;
	padding-left: 30px;
	padding-right: 0px;
}

.m_imput_l {
	padding-left: 0px;
	padding-right: 24px;
}
.m_add_margin{
	margin-top: 15px;
}

.m_panel_bodder{
	border-style: dashed;
	border-width:1px;
}

.m_panel_bodder_right{
	border-width:1px;
	border-right-style: solid;
}

.m_img_small{
	width:170px;
	height: 170px;
}
.m_img_sdes{
	width:170px;
}
.m_img_margin_bottom{
	margin-bottom: 10px;
}

.m_label{
	background-color: green;
	color : white;
	padding:3px;
	border-style: solid;
	border-width:1px;
	display: inline-block; 
	border-radius: 5px;
}
.m_class_detail{
	background-color: green;
	color : white;
	padding:3px;
	border-style: solid;
	border-width:1px;
	display: inline-block; 
	border-radius: 5px;
}
/*图标按钮手势变化*/
.m_icon_btn{	
	padding: 2px;
	margin: 0 2px;
}

.m-tr-checked{
	background: #a2ffa2;/* #0fea5733; */
}

.m-tr-checked :hover{
	background: #a2ffa2;/* #0fea5733; */
}

.m-tr-details{
	background-color: #f6f6f6;	
}

.m-tr-details :hover{
	background-color: #f6f6f6;	
}

.m-trolley-img-td{
	width: 150px;
	height: 150px;
}

.m-trolley-img-td img{
	width: 150px;
	height: 150px;
}

.m-td-btn{
	margin-bottom: 5px;
}