<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>管理员常量管理</title>

<!-- Bootstrap Core CSS -->
<link href="../static/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="../static/vendor/metisMenu/metisMenu.min.css"
	rel="stylesheet">
<link
	href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css"
	rel="stylesheet">

<!-- Custom CSS -->
<link href="../static/dist/css/sb-admin-2.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="../static/vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">

<!-- Morris Charts CSS -->
<link href="../static/vendor/morrisjs/morris.css" rel="stylesheet">

</head>

<body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">管理员管理</a>
			</div>
			<!-- /.navbar-header -->

			<ul class="nav navbar-top-links navbar-right">

			</ul>
			<!-- /.navbar-top-links -->

			<!-- 目录菜单 -->
			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse" id="m_side-memu_div">
					<ul class="nav" id="side-menu">
						<li><a href="index"><i class="fa fa-dashboard fa-fw"></i>主页</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- 目录菜单  end-->

			<!-- /.navbar-static-side -->
		</nav>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="page-header">查看全局常量</h2>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->

			<!-- 信息提示 -->
			<div class="row">
				<div class="col-lg-12" id="msg_alert_div"></div>
			</div>
			<!-- 信息提示 end -->

			<div class="row">
				<div class="col-lg-12">
					<form class="form-inline" id="query_constant_form">
						<div class="form-group">
							<label for="kind">分类(英)</label> <input type="text"
								class="form-control" id="kind" name="kind" placeholder="分类(英)">
						</div>
						<div class="form-group">
							<label for="kindName">分类(中)</label> <input type="text"
								class="form-control" id="kindName" name="kindName"
								placeholder="分类(中)">
						</div>
						<div class="form-group">
							<label for="name">变量名(英)</label> <input type="text"
								class="form-control" id="name" name="name" placeholder="变量名(英)">
						</div>
						<div class="form-group">
							<label for="nameCn">变量名(中)</label> <input type="text"
								class="form-control" id="nameCn" name="nameCn"
								placeholder="变量名(中)">
						</div>
						<br />
						<div class="form-group">
							<label for="value1">变量值</label> <input type="text"
								class="form-control" id="value1" name="value1" placeholder="变量值">
						</div>
						<div class="form-group">
							<label for="useful">有效</label> <input type="text"
								class="form-control" id="useful" name="useful" placeholder="有效">
						</div>
						<input type="text" hidden="true" id="pageNum" name="pageNum"
							value="1"> <input type="button" class="btn btn-primary"
							id="search_btn" value="查询" />
					</form>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<hr />
			<div class="row">

				<!-- /.col-lg-12 -->
				<div class="col-lg-12">
					<div class="panel panel-primary">
						<div class="panel-heading">查看全局常量</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12">
									<div class="table-responsive">
										<table class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<td><input type="checkbox" id="all_checkbox"></td>
													<th >分类(英)</th>
													<th>分类(中)</th>
													<th>变量名(英)</th>
													<th>变量名(中)</th>
													<th>变量值</th>
													<th>有效</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody id="constant_tbody">
												<!-- ajxa获取数据      -->
												<tr >
													<td><input type="checkbox"></td>
													<td>分类(英)</td>
													<td>分类(中)</td>
													<td>变量名(英)</td>
													<td>变量名(中)</td>
													<td>变量值</td>
													<td>有效</td>
													<td><a href="#" style="color: #337ab7;"
														onclick="detailsConstant('12346')"> <span
															class="glyphicon glyphicon-plus-sign" title="详情">
														</span>
													</a> &nbsp; <a href="#" style="color: #5cb85c;"><span
															class="glyphicon glyphicon-edit" title="修改"></span></a>
														&nbsp; <a href="#" style="color: #FF0000;"><span
															class="glyphicon glyphicon-remove-circle" title="删除"></span></a>
													</td>
												</tr>
											</tbody>
										</table>

									</div>
									<!-- /.table-responsive -->
								</div>
							</div>
							<!-- /.row (nested) -->


							<div class="row">
									<div class="col-sm-12">
										<input type="button" value="删除" class="btn btn-sm btn-warning pull-left" id="batch_delete_btn"/>
										<span class="pull-right"> 每页10条</span>
									</div>									
								<div class="col-sm-12">									
									<nav aria-label="查询结果" class="">
										<ul class="pagination" id="m_nav_ul">

										</ul>

									</nav>
									<div></div>
								</div>



							</div>



						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-12 -->

			</div>
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">常量详情</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">

							<!-- 信息提示 -->
							<div class="row">
								<div class="col-lg-12" id="msg_alert_myModal"></div>
							</div>
							<!-- 信息提示 end -->


							<form role="form" id="update_constant_form" class="form-horizontal">
								<div class="form-group">
									<label for="kindU" class="col-sm-3 control-label">分类(英文)<font
										color="red">*</font></label>
									<div class="col-sm-9">
										<input class="form-control" placeholder="分类(英文)" name="kindU"
											id="kindU" autofocus>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">分类(中文)<font
										color="red">*</font></label>
									<div class="col-sm-9">
										<input class="form-control" placeholder="分类(中文)"
											name="kindNameU" id="kindNameU">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">变量名(英文)<font
										color="red">*</font></label>
									<div class="col-sm-9">
										<input class="form-control" placeholder="变量名(英文)" name="nameU"
											id="nameU">
									</div>

								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">变量名(中文)<font
										color="red">*</font></label>
									<div class="col-sm-9">
										<input class="form-control" placeholder="变量名(中文)"
											name="nameCnU" id="nameCnU">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">变量值<font
										color="red">*</font></label>
									<div class="col-sm-9">
										<input class="form-control" placeholder="变量值" name="value1U"
											id="value1U">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">有效<font
										color="red">*</font></label>
									<div class="col-sm-9">
										<label class="radio-inline"> <input type="radio"
											name="usefulU" id="useful1U" value="true">是
										</label> <label class="radio-inline"> <input type="radio"
											name="usefulU" id="useful2U" value="false">否
										</label>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">插入时间</label>
									<div class="col-sm-9">
										<input class="form-control" placeholder="插入时间"
											name="createTimeU" id="createTimeU" disabled>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">插入人</label>
									<div class="col-sm-9">
										<input class="form-control" placeholder="插入人"
											name="createNameU" id="createNameU" disabled>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">备注</label>
									<div class="col-sm-9">
										<textarea class="form-control" rows="2" name="remakeU"
											id="remakeU"></textarea>
									</div>

								</div>
								<input type="text" hidden="true" id="idU" name="idU" value="">								
							</form>

						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" id="update_constant_btn">保存</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<!-- 删除确认 modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="delete_constant_model">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      	<div class="modal-body">
      		确认要删除该记录吗
      	</div>
      	<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-warning" id="delete_constant_btn">确认</button>
		</div>
    </div>
  </div>
</div>
<!-- 删除确认 modal end -->

	<!-- jQuery -->
	<script src="../static/vendor/jquery/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

	<script
		src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>

	<!-- Morris Charts JavaScript -->
	<!-- <script src="../static/vendor/raphael/raphael.min.js"></script>
		<script src="../static/vendor/morrisjs/morris.min.js"></script>
		<script src="../static/data/morris-data.js"></script> -->

	<script src="../static/js/common.js"></script>

	<script src="../static/js/a/admin.js"></script>
	<script src="../static/js/a/constant.js"></script>

</body>

</html>