<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="cssAndJs::head('商家管理主页')"></head>

<body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<!-- <div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">商家管理</a>
			</div> -->
			<div th:include="header::navbarHeader('商家管理')"></div>
			<!-- /.navbar-header -->

			
			

			<!-- 目录菜单 -->
			<div th:replace="m/menu::menu" >
			</div> 	
			<!-- 目录菜单  end-->

			<!-- /.navbar-static-side -->
		</nav>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="page-header">商家信息</h2>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->

			
			<!-- 查询提交表单 -->
			<div class="row">
				<div class="col-lg-12">商家主页</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- 查询提交表单  end-->
			<hr />

		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- js -->
	<div th:replace="cssAndJs::jsWhihMenu" >
	</div> 	
	<!-- js  end-->

	<script src="/onlinemall/static/js/m/merchant.js"></script>

</body>

</html>