<ul class="nav" id="side-menu">
	<li><a href="/onlinemall/m/index"><i class="fa fa-dashboard fa-fw"></i>主页</a></li>
	<li><a href="/onlinemall/m/information/manage"><i class="fa fa-table fa-fw"></i>商家详细信息</a></li>
	<li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>商品管理 <span class="fa arrow"></span> </a>
		<ul class="nav nav-second-level">
			<li><a href="/onlinemall/m/goods/manage">商品管理</a></li>
			<li><a href="/onlinemall/m/goods/add">增加商品</a></li>
		</ul>
	</li>
	<li><a href="#"><i class="fa fa-table fa-fw"></i> 仓库管理</a></li>
	<li><a href="#"><i class="fa fa-table fa-fw"></i> 订单管理</a></li>
	<li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>商家代金券管理<span class="fa arrow"></span> </a>
		<ul class="nav nav-second-level">
			<li><a href="#">查看代金券</a></li>
			<li><a href="#">增加代金券</a></li>
		</ul>
	</li>
	<li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>店员管理<span class="fa arrow"></span> </a>
		<ul class="nav nav-second-level">
			<li><a href="/onlinemall/m/waiter/manage">店员管理</a></li>
			<li><a href="/onlinemall/m/waiter/add">增加店员</a></li>
		</ul>
	</li>		
</ul>
<!-- Metis Menu Plugin JavaScript -->
<script src="/onlinemall/static/vendor/metisMenu/metisMenu.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/onlinemall/static/dist/js/sb-admin-2.js"></script>
