<!-- Bootstrap Core CSS -->
<link href="/onlinemall/static/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="/onlinemall/static/vendor/metisMenu/metisMenu.min.css"
	rel="stylesheet">
<link
	href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css"
	rel="stylesheet">

<!-- Custom CSS -->
<link href="/onlinemall/static/dist/css/sb-admin-2.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/onlinemall/static/zeroModal/zeroModal.css" />

<!-- Custom Fonts -->
<link
	href="/onlinemall/static/vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">

<link href="/onlinemall/static/css/common.css"
	rel="stylesheet">

