<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="cssAndJs::head('订单管理')"></head>

<body>
	
	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<div th:include="header::navbarHeader('商家管理')"></div>

			<!-- 目录菜单 -->
			<div th:replace="m/menu::menu" >
			</div> 	
			<!-- 目录菜单  end-->

			<!-- /.navbar-static-side -->
		</nav>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="page-header">订单管理</h2>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->			
			
			<div class="row">
				<div class="col-lg-12" style="margin-bottom: 15px;">
					<form class="form-inline" id="query_form">
						<div class="form-group" style="margin-right: 15px;">
							<label for="frozen">订单状态:</label>
							<select class="form-control" id="queryOrderStatus" name="queryOrderStatus">
                                                <option value="">全部订单</option>                                              
                                                <option value="1">未支付</option>  
                                                <option value="5">未完成</option> 
                                                <option value="14">已完成</option> 
                             </select>	
						</div>						
												
						<div class="form-group" style="margin-right: 15px;">
							<label>提交订单时间</label> 
							<input type="date"	class="form-control" id="createTimeStart" name="createTimeStart">~
							<input type="date"	class="form-control" id="createTimeEnd" name="createTimeEnd">
						</div>
						
						
						
						 <input type="button" class="btn btn-primary" id="search_btn" value="查询" />
					</form>
					<input type="text" hidden="true" id="pageNum" name="pageNum" value="1">
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<hr />
			
			<div class="row">

				<!-- /.col-lg-12 -->
				<div class="col-lg-12">
					<div class="panel panel-primary">
						<div class="panel-heading">订单管理</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12">
									<div class="table-responsive">
										<table class="table table-bordered table-hover">
											<thead>
												<tr>
													<th></th>
													<th>商品名</th>
													<th>下单时间</th>
													<th>状态</th>
													<th>实际金额</th>
													<th>支付金额</th>
													<th>快递单号</th>
													<th>快递公司</th>	
													<th>备注</th>								
													<th>操作</th>												
												</tr>
											</thead>
											<tbody id="query_tbody">
												<!-- ajxa获取数据      -->	
												<!-- <tr>
													<td onclick="showOrderInfor(this,'1653')" style="text-align: center;width: 10px;"><span class="glyphicon glyphicon-plus-sign" style="color: green;cursor: pointer;"></span></td>
													<td>4456</td>
													<td>6467</td>
													<td>464</td>
													<td>4645</td>
													<td>7897</td>
													<td>4564</td>
													<td>4564</td>
													<td>4564</td>
													<td>4564</td>
												</tr>
												<tr class="m-tr-details">
													<td colspan="10">
														<div class="col-sm-12" style="margin-bottom: 10px;" id="orderInfor_121">
														<span>收件人：21163</span>&nbsp;&nbsp;&nbsp; <span>电话：24463</span>
														<br>
														<span>收货地址：1565161</span>														
														</div>
														<div class="col-sm-12">
														<div class="table-responsive ">
															<table class=" m-tr-details table table-bordered">
																<thead>
																<tr>
																	<th>图片</th>
																	<th>名称</th>
																	<th>具体分类信息</th>																	
																	<th>单价</th>
																	<th>数量</th>
																	<th>金额</th>
																	<th>操作</th>											
																</tr>
																</thead>
																	<tbody id="query_infor_tbody_6113164">
																	
																	</tbody>
															</table>
														</div>
														</div>
													</td>													
												</tr> -->																							
											</tbody>
										</table>

									</div>
									<!-- /.table-responsive -->
								</div>
							</div>
							<!-- /.row (nested) -->


							<div class="row">
									<div class="col-sm-12">
										<span class="pull-right"> 每页10条</span>
									</div>									
								<div class="col-sm-12">									
									<nav aria-label="查询结果" class="">
										<ul class="pagination" id="m_nav_ul">

										</ul>

									</nav>
									<div></div>
								</div>



							</div>



						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-12 -->

			</div>
			<!-- /.row -->

			
		
		

			
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->
	
	<!-- js -->
	<div th:replace="cssAndJs::jsWhihMenu" >
	</div> 	
	<!-- js  end-->

	<script src="/onlinemall/static/js/m/merchant.js"></script>
	<script src="manage.js"></script>

</body>

</html>