<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuwenshen.mapper.TEvaluationMapper">
  <resultMap id="BaseResultMap" type="com.zhuwenshen.model.TEvaluation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="order_id" jdbcType="CHAR" property="orderId" />
    <result column="evaluation_type" jdbcType="INTEGER" property="evaluationType" />
    <result column="user_evaluation" jdbcType="VARCHAR" property="userEvaluation" />
    <result column="evaluation _img1_url" jdbcType="VARCHAR" property="evaluationImg1Url" />
    <result column="evaluation _img2_url" jdbcType="VARCHAR" property="evaluationImg2Url" />
    <result column="evaluation _img3_url" jdbcType="VARCHAR" property="evaluationImg3Url" />
    <result column="user_deleted" jdbcType="BIT" property="userDeleted" />
    <result column="user_time" jdbcType="TIMESTAMP" property="userTime" />
    <result column="merchant_reply" jdbcType="VARCHAR" property="merchantReply" />
    <result column="reply_img1_url" jdbcType="VARCHAR" property="replyImg1Url" />
    <result column="reply_img2_url" jdbcType="VARCHAR" property="replyImg2Url" />
    <result column="reply_img3_url" jdbcType="VARCHAR" property="replyImg3Url" />
    <result column="merchant_deleted" jdbcType="BIT" property="merchantDeleted" />
    <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_userid" jdbcType="CHAR" property="createUserid" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_userid" jdbcType="CHAR" property="updateUserid" />
  </resultMap>
</mapper>