<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuwenshen.mapper.TFrozenInformationMapper">
  <resultMap id="BaseResultMap" type="com.zhuwenshen.model.TFrozenInformation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="frozen_user_id" jdbcType="CHAR" property="frozenUserId" />
    <result column="operating_user_id" jdbcType="CHAR" property="operatingUserId" />
    <result column="frozen_time" jdbcType="TIMESTAMP" property="frozenTime" />
    <result column="frozen_reason" jdbcType="VARCHAR" property="frozenReason" />
    <result column="unfreezing_time" jdbcType="TIMESTAMP" property="unfreezingTime" />
    <result column="remake" jdbcType="VARCHAR" property="remake" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_userid" jdbcType="CHAR" property="createUserid" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_userid" jdbcType="CHAR" property="updateUserid" />
  </resultMap>
</mapper>