<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuwenshen.mapper.TGlobalConstantMapper">
  <resultMap id="BaseResultMap" type="com.zhuwenshen.model.TGlobalConstant">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="kind" jdbcType="VARCHAR" property="kind" />
    <result column="kind_name" jdbcType="VARCHAR" property="kindName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="name_cn" jdbcType="VARCHAR" property="nameCn" />
    <result column="value_1" jdbcType="VARCHAR" property="value1" />
    <result column="useful" jdbcType="BIT" property="useful" />
    <result column="remake" jdbcType="VARCHAR" property="remake" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_userid" jdbcType="CHAR" property="createUserid" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_userid" jdbcType="CHAR" property="updateUserid" />
  </resultMap>
</mapper>