<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuwenshen.mapper.TGoodsBriefMapper">
  <resultMap id="BaseResultMap" type="com.zhuwenshen.model.TGoodsBrief">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="merchant_id" jdbcType="CHAR" property="merchantId" />
    <result column="goods_id" jdbcType="CHAR" property="goodsId" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_label" jdbcType="VARCHAR" property="goodsLabel" />
    <result column="goods_des" jdbcType="VARCHAR" property="goodsDes" />
    <result column="goods_img" jdbcType="VARCHAR" property="goodsImg" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="latest_time" jdbcType="DATE" property="latestTime" />
    <result column="order_sold_num" jdbcType="INTEGER" property="orderSoldNum" />
    <result column="order_success_num" jdbcType="INTEGER" property="orderSuccessNum" />
    <result column="order_fail_num" jdbcType="INTEGER" property="orderFailNum" />
    <result column="avg_score" jdbcType="DOUBLE" property="avgScore" />
    <result column="sold_num" jdbcType="INTEGER" property="soldNum" />
    <result column="success_num" jdbcType="INTEGER" property="successNum" />
    <result column="fail_num" jdbcType="INTEGER" property="failNum" />
    <result column="last_mon_time" jdbcType="DATE" property="lastMonTime" />
    <result column="mon_sold_num" jdbcType="INTEGER" property="monSoldNum" />
    <result column="weight_score" jdbcType="DOUBLE" property="weightScore" />
    <result column="shelve_time" jdbcType="TIMESTAMP" property="shelveTime" />
  </resultMap>
</mapper>