<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuwenshen.mapper.TGoodsBriefMapper">
  <resultMap id="BaseResultMap" type="com.zhuwenshen.model.TGoodsBrief">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="goods_id" jdbcType="CHAR" property="goodsId" />
    <result column="latest_time" jdbcType="DATE" property="latestTime" />
    <result column="sold_order_num" jdbcType="INTEGER" property="soldOrderNum" />
    <result column="success_num" jdbcType="INTEGER" property="successNum" />
    <result column="fali_num" jdbcType="INTEGER" property="faliNum" />
    <result column="avg_score" jdbcType="DOUBLE" property="avgScore" />
    <result column="last_mon_time" jdbcType="DATE" property="lastMonTime" />
    <result column="mon_sold_num" jdbcType="INTEGER" property="monSoldNum" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_des" jdbcType="VARCHAR" property="goodsDes" />
    <result column="goods_img" jdbcType="VARCHAR" property="goodsImg" />
    <result column="price" jdbcType="DECIMAL" property="price" />
  </resultMap>
</mapper>