<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuwenshen.mapper.TMerchantInformationMapper">
  <resultMap id="BaseResultMap" type="com.zhuwenshen.model.TMerchantInformation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
    <result column="num" jdbcType="BIGINT" property="num" />
    <result column="name_cn" jdbcType="VARCHAR" property="nameCn" />
    <result column="name_en" jdbcType="VARCHAR" property="nameEn" />
    <result column="detailed_address" jdbcType="VARCHAR" property="detailedAddress" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="integral" jdbcType="DECIMAL" property="integral" />
    <result column="all_integral" jdbcType="DECIMAL" property="allIntegral" />
    <result column="merchant_portrait_url" jdbcType="VARCHAR" property="merchantPortraitUrl" />
    <result column="certification_level" jdbcType="INTEGER" property="certificationLevel" />
    <result column="fund" jdbcType="DECIMAL" property="fund" />
    <result column="describing_img1_url" jdbcType="VARCHAR" property="describingImg1Url" />
    <result column="describing_img2_url" jdbcType="VARCHAR" property="describingImg2Url" />
    <result column="describing_img3_url" jdbcType="VARCHAR" property="describingImg3Url" />
    <result column="describing_img4_url" jdbcType="VARCHAR" property="describingImg4Url" />
    <result column="business_license" jdbcType="VARCHAR" property="businessLicense" />
    <result column="business_license_url" jdbcType="VARCHAR" property="businessLicenseUrl" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_userid" jdbcType="CHAR" property="createUserid" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_userid" jdbcType="CHAR" property="updateUserid" />
  </resultMap>
</mapper>