<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuwenshen.mapper.TOrderMapper">
  <resultMap id="BaseResultMap" type="com.zhuwenshen.model.TOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
    <result column="merchant_id" jdbcType="CHAR" property="merchantId" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="original_amount" jdbcType="DECIMAL" property="originalAmount" />
    <result column="actual_amount" jdbcType="DECIMAL" property="actualAmount" />
    <result column="paid_actual_amount" jdbcType="DECIMAL" property="paidActualAmount" />
    <result column="merchant_coupon_id" jdbcType="CHAR" property="merchantCouponId" />
    <result column="user_ip" jdbcType="VARCHAR" property="userIp" />
    <result column="oeder_paid_type" jdbcType="INTEGER" property="oederPaidType" />
    <result column="evaluate_status" jdbcType="INTEGER" property="evaluateStatus" />
    <result column="express_number" jdbcType="VARCHAR" property="expressNumber" />
    <result column="express_company" jdbcType="VARCHAR" property="expressCompany" />
    <result column="express_code" jdbcType="INTEGER" property="expressCode" />
    <result column="express_status" jdbcType="VARCHAR" property="expressStatus" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_userid" jdbcType="CHAR" property="createUserid" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_userid" jdbcType="CHAR" property="updateUserid" />
  </resultMap>
</mapper>