<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuwenshen.mapper.TShoppingTrolleyMapper">
  <resultMap id="BaseResultMap" type="com.zhuwenshen.model.TShoppingTrolley">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
    <result column="goods_id" jdbcType="CHAR" property="goodsId" />
    <result column="goods_sort_id" jdbcType="CHAR" property="goodsSortId" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="overdue" jdbcType="BIT" property="overdue" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_userid" jdbcType="CHAR" property="createUserid" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_userid" jdbcType="CHAR" property="updateUserid" />
  </resultMap>
</mapper>