<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuwenshen.mapper.TTaskGoodsIndexMapper">
  <resultMap id="BaseResultMap" type="com.zhuwenshen.model.TTaskGoodsIndex">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="latest_time" jdbcType="TIMESTAMP" property="latestTime" />
  </resultMap>
</mapper>